<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
<form>
    <div>
        <p>1.Name the python module which supports regular expressions? </p>
        <p><input type="radio" name="question1" value="HTML"> A. regex </p>
        <p><input type="radio" name="question1" value="Python">B. re* </p>
        <p><input type="radio" name="question1" value="Java">C. pyre </p>
        <p><input type="radio" name="question1" value="PHP">D. pyregex </p>
    </div>
    <div>
        <p>2. For tuples and list which is correct? </p>
        <p><input type="radio" name="question1" value="HTML"> A. List and tuples both are mutable. </p>
        <p><input type="radio" name="question1" value="Python">B. List is mutable whereas tuples are immutable </p>
        <p><input type="radio" name="question1" value="Java"> C. List and tuples both are immutable</p>
        <p><input type="radio" name="question1" value="PHP"> D. List is immutable whereas tuples are mutable </p>
    </div>
    <div>
        <p>3. What is a correct syntax to output "Hello World" in Python? </p>
        <p><input type="radio" name="question1" value="HTML">A. echo "Hello World" </p>
        <p><input type="radio" name="question1" value="Python">B. print("Hello World") </p>
        <p><input type="radio" name="question1" value="Java">C. echo("Hello World") </p>
        <p><input type="radio" name="question1" value="PHP">D. p("Hello World") </p>
    </div>
    <div>
        <p>4. How is a code block indicated in Python? </p>
        <p><input type="radio" name="question1" value="HTML">A. Brackets </p>
        <p><input type="radio" name="question1" value="Python">B. Indentation </p>
        <p><input type="radio" name="question1" value="Java">C. Key </p>
        <p><input type="radio" name="question1" value="PHP">D.None of above </p>
    </div>
    <div>
        <p>5. Which of the following concepts is not a part of Python? </p>
        <p><input type="radio" name="question1" value="HTML">A. Pointers </p>
        <p><input type="radio" name="question1" value="Python">B. Loops </p>
        <p><input type="radio" name="question1" value="Java">C. Dynamic Typing </p>
        <p><input type="radio" name="question1" value="PHP">D. All of Above </p>
    </div>
    <div>
        <p>6. Which of the following statements are used in Exception Handling in Python? </p>
        <p><input type="radio" name="question1" value="HTML">A. try </p>
        <p><input type="radio" name="question1" value="Python">B. except </p>
        <p><input type="radio" name="question1" value="Java">C. finally </p>
        <p><input type="radio" name="question1" value="PHP">D. All of above </p>
    </div>
    <div>
        <p>7.Which of the following types of loops are not supported in Python? </p>
        <p><input type="radio" name="question1" value="HTML"> A. While </p>
        <p><input type="radio" name="question1" value="Python">B. for </p>
        <p><input type="radio" name="question1" value="Java">C. do-while </p>
        <p><input type="radio" name="question1" value="PHP">D. None of Above </p>
    </div>
    <div>
        <p>8. Which of the following is the proper syntax to check if a particular element is present in a list? </p>
        <p><input type="radio" name="question1" value="HTML">A. if ele in list </p>
        <p><input type="radio" name="question1" value="Python">B. if not ele not in list </p>
        <p><input type="radio" name="question1" value="Java"> C. Both A and B </p>
        <p><input type="radio" name="question1" value="PHP">D. None Of above </p>
    </div>
    <div>
        <p>9.Which of the following functions converts date to corresponding time in Python? </p>
        <p><input type="radio" name="question1" value="HTML">A. strptime() </p>
        <p><input type="radio" name="question1" value="Python">B. strftime </p>
        <p><input type="radio" name="question1" value="Java">C. Both A and B </p>
        <p><input type="radio" name="question1" value="PHP">D. None Of Above </p>
    </div>
    <div>
        <p>10 As what datatype are the *args stored, when passed into a function? </p>
        <p><input type="radio" name="question1" value="HTML">A. List </p>
        <p><input type="radio" name="question1" value="Python">B. Tuple </p>
        <p><input type="radio" name="question1" value="Java">C. Dictionary </p>
        <p><input type="radio" name="question1" value="PHP">D. None of the above </p>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>
    

