<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1> welcome Home Page  </h1>
    <a href='/examonline/Python'>
        <button class="GFG">
            Python Exam
        </button>
    </a>
    <a href='/examonline/Java'>
        <button class="GFG">
            Java Exam
        </button>
    </a>
    <a href='/examonline/Php'>
        <button class="GFG">
            Php Exam
        </button>
    </a>
    <a href='/logout/'>
        <button class="GFG">
            Logout
        </button>
    </a>
</body>
</html>